<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Imports" data-toc-modified-id="Imports-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Imports</a></span></li><li><span><a href="#Data-loading-and-processing" data-toc-modified-id="Data-loading-and-processing-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data loading and processing</a></span><ul class="toc-item"><li><span><a href="#Get-only-latest-info-from-REIGN-dataset" data-toc-modified-id="Get-only-latest-info-from-REIGN-dataset-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Get only latest info from REIGN dataset</a></span></li><li><span><a href="#Add-country-codes" data-toc-modified-id="Add-country-codes-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Add country codes</a></span></li><li><span><a href="#Combine-dataframes" data-toc-modified-id="Combine-dataframes-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Combine dataframes</a></span></li></ul></li></ul></div>

## Imports

In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
import plotly.express as px
import plotly
import math
import pycountry_convert

from pycountry import countries

## Data loading and processing

In [178]:
reign=pd.read_csv("REIGN_2021_6.csv")
press_index=pd.read_csv("World Press Index 2021.csv")
continents=pd.read_csv("country-and-continent-codes.csv")

In [4]:
reign.head()

,ccode,country,leader,year,month,elected,age,male,militarycareer,tenure_months,...,lastelection,loss,irregular,political_violence,prev_conflict,pt_suc,pt_attempt,precip,couprisk,pctile_risk
0,2.0,USA,Truman,1950.0,1.0,1.0,66.0,1,0.0,58.0,...,2.639057,5.327876,7.565793,-0.36429,0.0,0.0,0.0,-0.059930,NaN,NaN
1,2.0,USA,Truman,1950.0,2.0,1.0,66.0,1,0.0,59.0,...,2.708050,5.332719,7.566311,-0.36429,0.0,0.0,0.0,-0.113721,NaN,NaN
2,2.0,USA,Truman,1950.0,3.0,1.0,66.0,1,0.0,60.0,...,2.772589,5.337538,7.566829,-0.36429,0.0,0.0,0.0,-0.108042,NaN,NaN
3,2.0,USA,Truman,1950.0,4.0,1.0,66.0,1,0.0,61.0,...,2.833213,5.342334,7.567346,-0.36429,0.0,0.0,0.0,-0.041600,NaN,NaN
4,2.0,USA,Truman,1950.0,5.0,1.0,66.0,1,0.0,62.0,...,2.890372,5.347107,7.567863,-0.36429,0.0,0.0,0.0,-0.129703,NaN,NaN

In [6]:
reign.columns

Index(['ccode', 'country', 'leader', 'year', 'month', 'elected', 'age', 'male',
       'militarycareer', 'tenure_months', 'government', 'gov_democracy',
       'dem_duration', 'anticipation', 'ref_ant', 'leg_ant', 'exec_ant',
       'irreg_lead_ant', 'election_now', 'election_recent', 'leg_recent',
       'exec_recent', 'lead_recent', 'ref_recent', 'direct_recent',
       'indirect_recent', 'victory_recent', 'defeat_recent', 'change_recent',
       'nochange_recent', 'delayed', 'lastelection', 'loss', 'irregular',
       'political_violence', 'prev_conflict', 'pt_suc', 'pt_attempt', 'precip',
       'couprisk', 'pctile_risk'],
      dtype='object')

In [5]:
press_index.head()

,Country Name,Abuse Score 2021,Underlying Situation Score 2021,Global Score 2021,Global Score 2020,Global Score 2019
0,Norway,0.00,6.72,6.72,7.84,7.82
1,Finland,0.00,6.99,6.99,7.93,7.90
2,Sweden,0.00,7.24,7.24,9.25,8.31
3,Denmark,0.00,8.57,8.57,8.13,9.87
4,Costa Rica,10.99,8.21,8.76,10.53,12.24

### Get only latest relevant info from REIGN dataset

In [109]:
reign_latest=pd.DataFrame(columns=reign.columns)
reign_grouped=reign.groupby("country")
for name, group in reign_grouped:
    latest=group.sort_values(by="year",ascending=False).iloc[0,:]
    reign_latest=reign_latest.append(latest)
reign_latest=reign_latest.reset_index()[['ccode','country','leader','year','government','gov_democracy']]
reign_latest.head()

,ccode,country,leader,year,government,gov_democracy
0,700.0,Afghanistan,Ashraf Ghani,2021.0,Presidential Democracy,1.0
1,339.0,Albania,Rama,2021.0,Parliamentary Democracy,1.0
2,615.0,Algeria,Tebboune,2021.0,Presidential Democracy,1.0
3,232.0,Andorra,Espot Zamora,2021.0,Parliamentary Democracy,1.0
4,540.0,Angola,Lourenco,2021.0,Dominant Party,0.0

### Add country codes

In [110]:
def add_alpha_2(row):
    try:
        alpha_2=countries.search_fuzzy(row)[0].alpha_2
    except LookupError:
        alpha_2=None
    return alpha_2

def add_alpha_3(row):
    try:
        alpha_3=countries.search_fuzzy(row)[0].alpha_3
    except LookupError:
        alpha_3=None
    return alpha_3

#### REIGN

In [111]:
#drop countries that no longer exist
reign_latest=reign_latest.query("country not in ['Czechoslovakia','Germany East','Soviet Union','Vietnam South','Yemen South','Yugoslavia']")
#replace other countries with official names
map_dict={'Cape Verde':'Cabo Verde',
          'Cen African Rep':'Central African Republic',
          'Congo-Brz':'Congo',
          'Congo/Zaire':'Congo, The Democratic Republic of the',
         'East Timor':'Timor-Leste',
         'Guinea Bissau':'Guinea-Bissau',
         'Ivory Coast':'Côte d\'Ivoire',
         'Korea North':'Korea, Democratic People\'s Republic of',
         'Korea South':'Korea, Republic of',
         'Laos':'Lao People\'s Democratic Republic',
         'St Kitts and Nevis':'Saint Kitts and Nevis',
         'St Lucia':'Saint Lucia',
         'St Vincent':'Saint Vincent and the Grenadines',
         'Swaziland':'Eswatini',
         'UKG':'United Kingdom'}
reign_latest['country']=reign_latest['country'].map(map_dict).fillna(reign_latest['country'])
#add country codes
reign_latest['alpha_2']=reign_latest['country'].apply(lambda x: add_alpha_2(x))
reign_latest['alpha_3']=reign_latest['country'].apply(lambda x: add_alpha_3(x))

In [112]:
reign_latest.head()

,ccode,country,leader,year,government,gov_democracy,alpha_2,alpha_3
0,700.0,Afghanistan,Ashraf Ghani,2021.0,Presidential Democracy,1.0,AF,AFG
1,339.0,Albania,Rama,2021.0,Parliamentary Democracy,1.0,AL,ALB
2,615.0,Algeria,Tebboune,2021.0,Presidential Democracy,1.0,DZ,DZA
3,232.0,Andorra,Espot Zamora,2021.0,Parliamentary Democracy,1.0,AD,AND
4,540.0,Angola,Lourenco,2021.0,Dominant Party,0.0,AO,AGO

In [117]:
print(reign_latest[reign_latest.isna().any(axis=1)])

Empty DataFrame
Columns: [ccode, country, leader, year, government, gov_democracy, alpha_2, alpha_3]
Index: []

In [153]:
countries.search_fuzzy('Kosovo')

[Country(alpha_2='RS', alpha_3='SRB', name='Serbia', numeric='688', official_name='Republic of Serbia')]

#### press_index

In [166]:
press_clean=press_index.copy()

#drop countries which don't exist in the reign dataset
press_clean=press_clean.query("`Country Name` not in ['Northern Cyprus','Hong Kong S.A.R.','Somaliland']")

#replace countries with official names
map_dict={'South Korea':'Korea, Republic of',
          'Ivory Coast':'Côte d\'Ivoire',
          'East Timor':'Timor-Leste',
          'Guinea Bissau':'Guinea-Bissau',
          'Republic of Congo':'Congo',
          'Democratic Republic of the Congo':'Congo, The Democratic Republic of the',
          'Laos':'Lao People\'s Democratic Republic',
          'North Korea':'Korea, Democratic People\'s Republic of'}
press_clean['Country Name']=press_clean['Country Name'].map(map_dict).fillna(press_clean['Country Name'])

#OECS is a tricky special case 
oecs_countries=['Antigua and Barbuda','Dominica','Grenada','Saint Kitts and Nevis','Saint Lucia','Saint Vincent and the Grenadines']

for country in oecs_countries:
    row=press_clean[press_clean['Country Name']=='OECS'].copy()
    row['Country Name']=country
    #row.reset_index(drop=True, inplace=True)
    press_clean=press_clean.append(row,ignore_index=True)

press_clean=press_clean.query("`Country Name` not in ['OECS']")
press_clean['alpha_2']=press_clean['Country Name'].apply(lambda x: add_alpha_2(x))
press_clean['alpha_3']=press_clean['Country Name'].apply(lambda x: add_alpha_3(x))

In [167]:
press_clean.tail()

,Country Name,Abuse Score 2021,Underlying Situation Score 2021,Global Score 2021,Global Score 2020,Global Score 2019,alpha_2,alpha_3
179,Dominica,0.0,23.97,23.98,23.78,26.04,DM,DMA
180,Grenada,0.0,23.97,23.98,23.78,26.04,GD,GRD
181,Saint Kitts and Nevis,0.0,23.97,23.98,23.78,26.04,KN,KNA
182,Saint Lucia,0.0,23.97,23.98,23.78,26.04,LC,LCA
183,Saint Vincent and the Grenadines,0.0,23.97,23.98,23.78,26.04,VC,VCT

In [144]:
oecs_row=press_clean[press_clean['Country Name']=='OECS'].copy()
print(oecs_row)
oecs_row['Country Name']='Grenada'
print(oecs_row)

   Country Name  Abuse Score 2021  Underlying Situation Score 2021  \
44         OECS               0.0                            23.97

    Global Score 2021  Global Score 2020  Global Score 2019 alpha_2 alpha_3
44              23.98              23.78              26.04    None    None
   Country Name  Abuse Score 2021  Underlying Situation Score 2021  \
44      Grenada               0.0                            23.97

    Global Score 2021  Global Score 2020  Global Score 2019 alpha_2 alpha_3
44              23.98              23.78              26.04    None    None

In [154]:
press_clean[press_clean['Country Name']=='Serbia']

Empty DataFrame
Columns: [Country Name, Abuse Score 2021, Underlying Situation Score 2021, Global Score 2021, Global Score 2020, Global Score 2019, alpha_2, alpha_3]
Index: []

In [156]:
print(press_clean['alpha_2'])

0     NO
1     FI
2     SE
3     DK
4     CR
      ..
44    DM
44    GD
44    KN
44    LC
44    VC
Name: alpha_2, Length: 183, dtype: object

### Combine dataframes

In [180]:
continents=continents.rename(columns={'Two_Letter_Country_Code':'alpha_2'})
continents=continents[['Continent_Name','alpha_2']]
continents.head()

  Continent_Name alpha_2
0           Asia      AF
1         Europe      AL
2     Antarctica      AQ
3         Africa      DZ
4        Oceania      AS

In [184]:
combined=pd.merge(press_clean,reign_latest,how="left", on=["alpha_2","alpha_3"])
combined=pd.merge(combined,continents,how="left", on=["alpha_2"])
#namibia is for some reason not in the continents data frame
combined.loc[23,'Continent_Name']='Africa'

In [185]:
combined.head()

,Country Name,Abuse Score 2021,Underlying Situation Score 2021,Global Score 2021,Global Score 2020,Global Score 2019,alpha_2,alpha_3,ccode,country,leader,year,government,gov_democracy,Continent_Name
0,Norway,0.00,6.72,6.72,7.84,7.82,NO,NOR,385.0,Norway,Solberg,2021.0,Parliamentary Democracy,1.0,Europe
1,Finland,0.00,6.99,6.99,7.93,7.90,FI,FIN,375.0,Finland,Sanna Marin,2021.0,Parliamentary Democracy,1.0,Europe
2,Sweden,0.00,7.24,7.24,9.25,8.31,SE,SWE,380.0,Sweden,Lofven,2021.0,Parliamentary Democracy,1.0,Europe
3,Denmark,0.00,8.57,8.57,8.13,9.87,DK,DNK,390.0,Denmark,Mette Frederiksen,2021.0,Parliamentary Democracy,1.0,Europe
4,Costa Rica,10.99,8.21,8.76,10.53,12.24,CR,CRI,94.0,Costa Rica,Carlos Alvarado Quesada,2021.0,Presidential Democracy,1.0,North America

In [186]:
print(combined[combined.isna().any(axis=1)])

    Country Name  Abuse Score 2021  Underlying Situation Score 2021  \
43        Taiwan              0.00                            23.86
135    Palestine             29.44                            43.18

     Global Score 2021  Global Score 2020  Global Score 2019 alpha_2 alpha_3  \
43               23.86              23.76              24.98      TW     TWN
135              43.18              44.09              44.68      PS     PSE

     ccode country leader  year government  gov_democracy Continent_Name
43     NaN     NaN    NaN   NaN        NaN            NaN           Asia
135    NaN     NaN    NaN   NaN        NaN            NaN           Asia